TOKEN=
MONGODB=
SENTRY_DSN=
BOTID=
CDN=https://example.com
CDN_KEY=

API_PORT=4000
API_KEY=
WEBSITE_URL=http://localhost:3000

FLUXER_CLIENT_ID=1478101382331523543
FLUXER_CLIENT_SECRET=
FLUXER_REDIRECT_URI=http://localhost:3000/api/auth/callback
